/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common-style or utilities*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  border-radius: 5px; /*full container er upor radious apply korsi */
  margin-top: 21px; /*uporer section and nicher section er shathe gap dewar jonno its uses*/
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/* top players style */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  /* grid-template-columns: 1fr 1fr 1fr; */
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/*------------------------------
top-blog-styles
---------------------------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
  font-size: 16px;
  text-decoration: none;
}

/*-------------------------
      Courses Style 
 -------------------------*/
.courses {
  display: grid; /*courses er bitore ja ase sob 1 row te chole jabe 3ta course ei jagula age column akare chilo */
  grid-template-columns: repeat(
    3,
    1fr
  ); /*3-column number 1fr-space equal hobe protekta */
  grid-column-gap: 24px; /*3ta course er column er moddhe gap 24px */
}
.course .course-banner img {
  width: 224px; /*course er image er height width */
  height: 104px;
}
.course-info {
  display: flex; /*star rating and clock ke 1e line e niye aschi */
  align-items: center; /*star rating and clock 1e line e 1 shathe thakbe */
  justify-content: space-between; /*star rating 1 shathe thakbe but clock er age onek space chole ashbe */
}
.fa-star {
  font-size: 12px; /*every star er font-size set korlam */
}
.fa-star.filled {
  /*1ei class-name er bitore ekadikh class thakle space divo na*/
  color: #ffc014; /*star gular color dilam */
}
.fa-star.empty {
  /*1ei class-name er bitore ekadikh class thakle space divo na*/
  color: #aeaeae; /*star last er tar  color dilam */
}
.course-duration {
  color: #ff4a60;
  border-radius: 5px;
  font-size: 14.6913px;
}

/*-------------------------
     Media Queries
--------------------------*/
/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%; /*width bole dise tokhon dekhaise */
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* eta dewar fole kisu dekhaite chilo na karon width e jamela chilo*/
  }
  .player,
  .blog {
    flex-direction: column;
  }
  .blog {
    align-items: center;
  }
}

/* Tablet-Devices */

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .container {
    width: 100%; /*eta dewate pic thik moto ashche */
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr); /*thik moto pic ashe ni */
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
